{% extends "base.html" %}

{% block site_meta %}
  {{ super() }}
    {% if page and page.meta and page.meta.keywords %}
      <meta name="keywords" content="{{ page.meta.keywords }}">
      <meta name="google-site-verification" content="Owdrdc86b73FM35ZvpM4fiP-d5RcXz2uD9qSIsdXYKU" />
    {% endif %}
{% endblock %}

{%- block htmltitle -%} 
  {%- if page.is_homepage -%} 
    <title>Documentation for the Tanssi Network</title> 
  {%- elif page and page.meta and page.meta.title -%} 
    <title>{{ page.meta.title }} | {{ config.site_name }}</title> 
  {%- elif page and page.title and not page.is_homepage -%} 
    <title>{{ page.title }} | {{ config.site_name }}</title> 
  {%- else -%}
    <title>{{ config.site_name }}</title> 
  {%- endif -%} 
{%- endblock -%} 

{% block fonts %}
  {{ super() }}
  <link rel="preload" href="/assets/stylesheets/fonts/Kilimanjaro-Sans.otf" as="font" type="font/otf">
{% endblock %}

{%- block container -%} 
  <div class="md-content" data-md-component="content">
    {% set class = "index-page" if not page.content and not page.is_homepage %}
    <article class="md-content__inner md-typeset {{ class }}">
      {% block content %}
        {% include "partials/content.html" %}
      {% endblock %}
    </article>
  </div>
{%- endblock -%} 
