.md-main {
  background-color: var(--dark);
}

.md-main__inner {
  margin: 0;
}

.md-grid {
  max-width: 100%;
}

.md-content__inner {
  padding: 0;
  margin: 0;
}

.md-content__inner:before {
  height: 0;
}

.home {
  gap: 5em;
  display: flex;
  flex-direction: column;
}

.hero-section {
  background-image: url('../images/home-background.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding: 0 3em 5em;
}

.md-typeset .hero-content h1 {
  font-size: 5em;
  font-weight: 800;
  font-family: 'Epilogue';
  line-height: 110%;
  margin-bottom: 0;
  margin-top: 5rem;
  text-align: center;
}

.md-typeset .hero-content h1 span.shadow {
  text-shadow: 0px 10px 4px rgba(255, 193, 84, 0.5),
    12px 4px 4px rgba(0, 176, 175, 0.5), -10px 3px 0px rgba(255, 96, 54, 0.48);
}

.md-typeset .hero-content h2 {
  width: 50%;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1.87em;
  line-height: 120%;
  text-align: center;
  margin: 0;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5em;
  background-color: rgba(245, 245, 245, 0.35);
  border-radius: 20px;
  padding: 1.5em;
  box-sizing: border-box;
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
}

.hero-card {
  background: #222222;
  border-radius: 16px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  box-sizing: border-box;
  gap: 0.5em;
}

.md-typeset .hero-card h3 {
  font-family: 'Epilogue';
  font-weight: 800;
  font-size: 1.7em;
  line-height: 120%;
  color: #ffffff;
  margin: 0;
}

.md-typeset .hero-card p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 0.96em;
  line-height: 130%;
  color: #ffffff;
  margin: 0;
}

.md-typeset .hero-card a {
  padding-top: 1em;
  width: fit-content;
  border-radius: 100px;
}

.md-typeset .hero-card a button.md-button {
  border-radius: 100px;
  padding: 0.5em 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.85em;
  line-height: 120%;
  font-weight: 800;
  font-family: 'Epilogue';
  border: none;
}

.md-typeset .hero-card a:hover {
  text-decoration: none;
}

.md-typeset .hero-card:first-child a button.md-button {
  background-color: #00b0af;
  border: 0.5px solid #00b0af;
}

.md-typeset .hero-card:nth-child(2) a button.md-button {
  background-color: #ffb21f;
  border: 0.5px solid #ffb21f;
}

.md-typeset .hero-card:nth-child(3) a button.md-button {
  background-color: #ff6036;
  border: 0.5px solid #ff6036;
}

.md-typeset .hero-card a:hover button.md-button {
  background-color: transparent;
  color: #ffffff;
  border: 0.5px solid #ffffff;
}

.md-typeset .feature-section {
  display: flex;
  gap: 8em;
  max-width: 61rem;
  margin: auto;
  z-index: 1;
  padding: 0 3em 3em;
  position: relative;
}

.md-typeset .feature-section h2 {
  font-family: 'Epilogue';
  font-weight: 800;
  font-size: 2.9em;
  line-height: 102%;
  margin: 0;
}

.md-typeset .feature-section h2 span.highlight {
  color: #ffc154;
}

.md-typeset .feature-section p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1.14em;
  line-height: 120%;
}

.md-typeset .feature-section .feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(357px, 1fr));
  gap: 2em;
  align-items: stretch;
  max-width: 1200px;
  position: relative;
  z-index: 2;
}

.md-typeset .feature-section .feature-grid > .column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.md-typeset .feature-card-background {
  border-radius: 16px;
  width: 100%;
  max-width: 357px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  padding: 1rem;
}

.md-typeset .feature-card-background.one {
  background-image: url('../images/card-1-background.png');
  height: 558px;
}

.md-typeset .feature-card-background.two {
  background-image: url('../images/card-2-background.png');
  height: 268px;
}

.md-typeset .feature-card-background.three {
  background-image: url('../images/card-3-background.png');
  height: 268px;
}

.md-typeset .feature-section .feature-grid .feature-card {
  background-color: #ffffff;
  width: 90%;
  max-width: 240px;
  height: auto;
  border-radius: 16px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  position: relative;
  cursor: pointer;
}

.md-typeset .feature-section .feature-grid .feature-card:hover {
  text-decoration: none;
}

.md-typeset .feature-section .feature-grid .feature-card:hover h3 {
  color: #00b0af;
}

.md-typeset .feature-section .feature-grid .feature-card img {
  position: absolute;
  padding: 1em;
  bottom: 0;
  right: 0;
  width: 3em;
}

.md-typeset .feature-section .feature-badge {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.5em;
  width: fit-content;
  border-radius: 16px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 0.625em;
  line-height: 130%;
  text-align: center;
  color: #101010;
  border: 1px solid #101010;
}

.md-typeset .feature-section .feature-card h3 {
  font-family: 'Epilogue';
  font-weight: 800;
  font-size: 1.59em;
  line-height: 120%;
  color: #101010;
  margin: 0;
}

.section-separator {
  position: relative;
  margin-top: -14em;
  overflow: hidden;
}

.md-typeset .section-separator img {
  width: 100vw;
}

.md-typeset .community-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -5em;
  gap: 3em;
  padding: 0 3em;
}

.md-typeset .community-section h2 {
  font-family: 'Epilogue';
  font-weight: 800;
  font-size: 2.9em;
  line-height: 102%;
  text-align: center;
  margin: 0;
  color: #ffffff;
}

.md-typeset .community-section h2 span.highlight {
  color: #ff6036;
}

.md-typeset .community-section .community-buttons {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 2em;
  width: 30%;
}

.md-typeset .community-section .community-buttons a {
  width: 100%;
  border-radius: 15px;
}

.md-typeset .community-section .community-buttons a button.md-button {
  width: 100%;
  border: none;
  padding: 1em;
}

.md-typeset .community-section .community-buttons a button.md-button.primary {
  background-color: #00b0af;
}

.md-typeset .community-section .community-buttons a button.md-button.secondary {
  background-color: #ffffff;
  color: #000000;
  height: 100%;
}

.md-typeset .community-section .community-buttons a button.md-button:hover {
  background-color: #ffb21f;
  color: #000000;
}

@media screen and (max-width: 73em) {
  .md-typeset .hero-content h2 {
    width: 75%;
  }

  .md-typeset .feature-section {
    gap: 3em;
    flex-direction: column;
  }

  .md-typeset .feature-card-background {
    height: 300px; /* Adjust heights for smaller screens */
    width: 357px;
  }

  .md-typeset .feature-section .feature-grid {
    display: flex;
  }

  .md-typeset .feature-section .feature-grid > .column {
    height: unset;
  }

  .md-typeset .community-section .community-buttons {
    width: 50%;
  }
}

@media screen and (max-width: 54em) {
  .md-typeset .feature-section .feature-grid {
    flex-direction: column;
    gap: 1em;
  }

  .md-typeset .feature-section .feature-grid > .column {
    align-items: center;
  }

  .md-typeset .feature-section .feature-grid > .column:nth-child(2) {
    gap: 1em;
  }

  .md-typeset .feature-card-background.one {
    height: 268px;
  }

  .section-separator {
    margin-top: -10em;
  }

  .md-typeset .section-separator img {
    width: 125%;
    max-width: unset;
  }

  .md-typeset .community-section .community-buttons {
    width: 66%;
  }
}

@media screen and (max-width: 30em) {
  .hero-content,
  .md-typeset .feature-section,
  .md-typeset .community-section {
    padding-left: 1em;
    padding-right: 1em;
  }

  .md-typeset .hero-content h1 {
    font-size: 4em;
    margin-top: 2rem;
  }

  .md-typeset .hero-content h2 {
    width: 100%;
    font-size: 1.5em;
  }

  .hero-grid {
    grid-template-columns: unset;
    padding: 1em;
    gap: 1em;
  }

  .hero-card {
    padding: 1em;
  }

  .md-typeset .hero-card h3,
  .md-typeset .feature-section .feature-card h3 {
    font-size: 1.45em;
    width: 80%;
  }

  .md-typeset .feature-section h2,
  .md-typeset .community-section h2 {
    font-size: 2.25em;
    line-height: 120%;
  }

  .md-typeset .feature-card-background {
    width: 100%;
  }

  .section-separator {
    margin-top: -12em;
  }

  .md-typeset .section-separator img {
    width: 300%;
    max-width: unset;
  }

  .md-typeset .community-section .community-buttons {
    flex-wrap: wrap;
    gap: 1em;
  }
}
