.subsection-wrapper {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.subsection-wrapper .card {
  background-color: var(--card-bg-color);
  border-radius: var(--border-radius-card);
  text-decoration: none;
  align-content: start;
  flex: 1 0 48%;
  max-width: 48%;
}

.subsection-wrapper .card .card-header {
  display: flex;
  grid-gap: .75em;
  padding: 1.5em 1.5em 0.5em 1.2em;
  align-items: start;
}

.subsection-wrapper .card .card-header svg {
  fill: var(--md-default-fg-color);
  height: auto;
  width: 1.2rem;
}

.md-typeset .subsection-wrapper .card a {
  text-decoration: none;
  cursor: pointer;
}

.md-typeset .subsection-wrapper .card a:hover .title {
  color: var(--card-fg-hover-color);
}

.subsection-wrapper .title {
  margin: 0;
  font-size: 1.15em;
  color: var(--white);
}

.subsection-wrapper .description {
  color: var(--md-default-fg-color);
  margin: 0;
  font-size: 0.9em;
  padding: 0 1.5em 1.8em 1.5em;
}

@media screen and (max-width: 36em) {
  .subsection-wrapper .card {
    flex: 1 0 100%;
    max-width: 100%;
  }
}

/* Hide TOC on index pages */
.md-nav.md-nav--secondary {
  display: none;
}
